/* your code */
*{
	margin:0;
	padding:0;
	box-size:border-box;
}
table{
	border:1px solid #dbdbdb;
	border-spacing: 0px;
	border-radius:10px;
}
thead{
	background:#468ae9;
}
tbody tr:nth-child(even){
	background:#dbdbdb;
	
}
table{
	width:100%;
	margin:auto;
	
}
th{
	text-align:left;
}
table th, table td{
	padding:6px;
}